<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <style>
        /* Стили для карточек курсов */
        .course-card {
            border: 1px solid #ccc;
            padding: 1rem;
            margin: 1rem;
            background-color: #f5f5f5;
            border-radius: 4px;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        button {
            background-color: #4567b7;
            color: #ffffff;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            margin-top: 1rem;
        }

        button:hover {
            background-color: #334ccc;
        }
    </style>
</head>

<body>
    {{> header}}
    <!-- Карточки курсов -->
    <select id="course-type-select">
        <option value="{{typeIn.type_id}}">{{typeIn.type_name}}</option>
        <option value="0">Все типы</option>

        {{#each courseTypes}}
        <option value="{{this.type_id}}">{{this.type_name}}</option>
        {{/each}}
    </select>

    <input type="text" id="search-input" placeholder="Поиск по названию курса">

    <div id="course-container">
        {{#each courses}}
        <div class="course-card">
            <h2>{{course_name}}</h2>
            <p>{{description}}</p>
            <p>Продолжительность в часах: {{duration}}</p>
            <button class="details-button" data-course-id="{{course_id}}">Подробнее</button>
        </div>
        {{/each}}
    </div>

    <script>
        document.querySelectorAll('.details-button').forEach(button => {
            button.addEventListener('click', () => {
                const courseId = button.dataset.courseId;
                window.location.href = `/courses/${courseId}`;
            });
        });

        document.getElementById('course-type-select').addEventListener('change', async (event) => {
            const selectedType = event.target.value;
            if (selectedType && selectedType != 0) {
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('type', selectedType);
                window.location.href = currentUrl.toString();
            } else {
                // Если выбран пункт "Все типы", перезагрузить страницу без параметра type
                window.location.href = '/courses';
            }
        });

        document.getElementById('search-input').addEventListener('input', function () {
            var searchText = this.value.toLowerCase();
            var courseCards = document.querySelectorAll('.course-card');
            courseCards.forEach(function (card) {
                var name = card.querySelector('h2').textContent.toLowerCase();
                var description = card.querySelector('p').textContent.toLowerCase();
                if (name.includes(searchText) || description.includes(searchText)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });

    </script>

</body>

</html>