<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
    <style>
        .back-button {
            background-color: #4567b7;
            color: #ffffff;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            text-decoration: none;
            display: inline-block;
            margin-right: 10px;
        }

        h1 {
            font-size: 2rem;
            font-weight: bold;
            color: #4567b7;
            margin-bottom: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        label {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        input[type="text"],
        input[type="date"],
        textarea,
        select {
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-bottom: 1rem;
        }

        button[type="submit"] {
            background-color: #4567b7;
            color: #ffffff;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            margin-top: 1rem;
        }

        button[type="submit"]:hover {
            background-color: #334ccc;
        }
    </style>
</head>
<body>
    {{> adminHeader}}
    <a href="/admin" class="back-button">Вернуться к главной панели</a>
    <a href="/admin/courses" class="back-button">Назад</a>
    <h1>Edit Course</h1>
    <form action="/admin/updatecourse/{{course.course_id}}" method="POST">
        <label for="courseName">Название курса:</label>
        <input type="text" id="courseName" name="courseName" value="{{course.course_name}}">
        <br>
        <label for="description">Описание:</label>
        <textarea id="description" name="description">{{course.description}}</textarea>
        <br>
        <label for="details">Навыки:</label>
        <textarea id="details" name="details">{{course.other_details}}</textarea>
        <br>
        <label for="duration">Продолжительность в часах:</label>
        <input type="text" id="duration" name="duration" value="{{course.duration}}">
        <label for="questionsToShow">Количество вопросов в тесте:</label>
        <input type="number" id="questionsToShow" name="questionsToShow" min="1" max="100" value="{{course.questions_to_show}}" required>
        <br>

        <select id="courseType" name="courseType">
            <option value="{{course.course_type_id}}">{{type.type_name}}</option>
            {{#each types}}
            <option value="{{this.type_id}}">{{this.type_name}}</option>
            {{/each}}
        </select>


        <button type="submit">Изменить</button>
    </form>

    <script>
        function formatDate(timeString) {
            const date = new Date(timeString);
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');
            const seconds = String(date.getSeconds()).padStart(2, '0');
            return `${hours}:${minutes}:${seconds}`;
        }
    </script>
</body>
</html>
