<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <style>
        /* Стили для карточек курсов */
        .course-card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>

<body>


    <a href="/profile">Назад к профилю</a>
    <div id="course-container">
        {{#each courses}}
        <div class="course-card">
            <h2>{{course_name}}</h2> 
            <p>{{description}}</p>
            <p>Продолжительность: {{formatDate duration}}</p> 
            <p>Дата начала: {{start_date}}</p> 
            <button class="updatestatus-button" data-course-id="{{course_id}}">Заранее завершить</button>
        </div>
        {{/each}}
    </div>

    <script>
        document.querySelectorAll('.updatestatus-button').forEach(button => {
            button.addEventListener('click', async () => {
                const courseId = button.dataset.courseId;
                try {
                    const response = await fetch(`/profile/updateStatus/${courseId}`, {
                        method: 'POST'
                    });
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error('Ошибка при удалении курса');
                    }
                } catch (error) {
                    console.error('Ошибка при удалении курса:', error);
                }
            });
        });
    </script>

</body>

</html>